# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.WEB-API.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Lenovo\RiderProjects\WEB-API\.idea\.idea.WEB-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
